body
{
    background-color: powderblue;
}

h1
{
    font-size: 120%;
    font-family: verdana;
    border: 2px solid blue;
}

p
{
    font-size: 100%;
    font-family: Verdana;
    border: 2px solid blue;
}

p
{
    font-size: 100%;
    font-family: Verdana;
    border: 2px solid blue;
}